// src/routes/BoardDetail.module.scss
.boardDetailContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.postContent {
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.5;
}
