.loginForm_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // 중앙에서 위쪽으로 조정
    align-items: center;
    min-height: 80vh; // 뷰포트의 80% 높이를 차지하도록 설정
    margin-top: 50px; // 상단에 50px의 마진을 추가
}

input {
    display: block;
    width: 300px;
    margin: 10px 0; // 위아래 여백을 줘서 간격을 띄웁니다.
    padding: 10px;
    font-size: 16px;
}

button {
    width: 300px;
    margin: 10px 0; // 위아래 여백을 줘서 간격을 띄웁니다.
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}
