.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 100vh;
}

.title {
    margin-bottom: 20px;
}

.input {
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.selectContainer {
    margin: 20px 0;
}

.select {
    width: 320px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;

    option {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
}

.button {
    width: 320px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0056b3;
    }
}

// 전송 중 상태 스타일
.sending {
    background-color: #17a2b8; // 예시: 청록색
    cursor: not-allowed;
}

.sending:hover {
    background-color: #138496; // 예시: 어두운 청록색
}

// 인증 완료 상태 스타일
.valid {
    background-color: #28a745; // 예시: 초록색
}

.valid:hover {
    background-color: #218838; // 예시: 어두운 초록색
}

.admin_button {
    margin-top: 20px;
    padding: 10px;
    background-color: #6c757d; // 예시: 회색
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: #5a6268; // 예시: 어두운 회색
    }
}

// 어드민 모드 버튼 색상
.admin_mode_button {
    background-color: #6c757d; // 어드민 버튼 색상
    &:hover {
        background-color: #5a6268; // 어두운 회색
    }
}

// 일반 모드 버튼 색상
.general_mode_button {
    background-color: #17a2b8; // 일반 모드 버튼 색상
    &:hover {
        background-color: #138496; // 어두운 청록색
    }
}
