.teamProjectContainer {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: stretch; /* Ensure all children have the same height */
    width: 90%;
    max-width: 1200px; /* Optionally, set a max width to prevent it from getting too wide */
    margin: 0 auto; /* Center the container within the page */
    gap: 40px;
    height: 100vh;
}

.projectDetails,
.memberList_wrapper,
.teamChat {
    flex: 1;
    margin: 0 10px; /* Adds some spacing between the sections */
}

.projectDetails {
    flex: 2; /* Make this section a bit wider */
}

.memberList_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamChat {
    flex: 2;
    /* Additional styling as needed */
}

/* Ensure buttons and other content are properly sized */
button {
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}
