.navBar_wrapper {
    display: flex;
    justify-content: space-between; /* 좌우 공간을 균등하게 분배 */
    align-items: center; /* 세로 축에서 중앙 정렬 */
    padding: 10px 20px; /* 위와 아래, 왼쪽과 오른쪽에 공간을 추가 */
    border-bottom: 2px solid rgb(127, 127, 127);
}

.navBar_button {
    width: auto; /* 자동 너비로 설정 */
    height: 40px; /* 버튼 높이 조정 */
    margin: 0 10px; /* 좌우 여백 설정 */
    background-color: white; /* 버튼의 배경색 */
    color: black; /* 버튼 텍스트 색상 */
    border-radius: 5px; /* 모서리를 둥글게 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    font-size: 16px; /* 버튼 텍스트 크기 조정 */
    font-weight: bold;
    padding: 0 20px; /* 좌우 패딩 추가 */

    &:hover {
        background-color: #e0e0e0; /* 버튼을 호버할 때의 배경색 */
        transition: background-color 0.3s ease; /* 배경색 전환 효과 추가 */
    }
}

.nav_user {
    display: flex;
    align-items: center; /* 세로 축에서 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 */
}

.nav_user p {
    font-size: 18px; /* 텍스트 크기 조정 */
    font-weight: bold;
    margin: 0;
}
